.fileBlock
    >label
        border: 1px solid #00000020
        border-radius: 0.2rem
        padding: 0.5rem
        cursor: pointer
        font-weight: 6000
        font-family: Arial, Helvetica, sans-serif
        font-size: 0.7rem
        >*
            vertical-align: middle
.listFileUp
    margin-top: 1rem
    border-top: 1px solid #00000020
    border-bottom: 1px solid #00000020
    overflow: hidden
    >label
        box-sizing: border-box
        width: 100%
        display: block
        padding: 0 0.5rem
        border-bottom: 1px dotted #00000030
        &:hover
            background: #00000010
        svg
            &:nth-child(1)
                cursor: pointer
        >*
            vertical-align: middle
        &:nth-child(1)
            margin-top: 1rem
        &:nth-last-child(1)
            margin-bottom: 1rem
            border-bottom: none

            
            


